/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover, 
.btn-secondary:focus {
  color: salmon;
  text-shadow: none; 
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

@font-face {
  font-family: "Rock Salt";   
  src: local("Rock Salt"),
    url("./fonts/RockSalt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Passion One";  
  src: local("Passion One"),
    url("./fonts/PassionOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik"; 
  src: local("Rubik"),
    url("./fonts/Rubik-Regular.ttf") format("truetype");
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(255, 255, 255, .5);
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.social {
    color: rgba(255, 255, 255, .5);
}

.favicon {
    transform: scale(70%);
    cursor: pointer;
}

.favicon:hover {
    transform: scale(100%);
}

h1 {
    font-family: 'Passion One', cursive;
}

p {
    font-size: 17px;
}

hr {
    border-top-width: 1px;
}

h4,
.lead {
    font-family: 'Rock Salt', cursive;
}

.intro {
    font-family: 'Rubik', sans-serif;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.triangle2 {
    position: absolute;
    animation: spin 10s linear infinite; 
}

@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.rocketman {
    max-width: 128%;
    max-height: 128%;
}

.space {
    background-image: url('./assets/images/moon.png');
    background-repeat: no-repeat;
    background-position-x: 230%;
    background-position-y: -32%;
    animation-name: moon;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes moon {
    0% {
        background-position: 0% 0%;
    }
    230% {
        background-position: 200% 200%;
    }
}

.circle {
    background-image: url('./assets/images/bnmoonclouds.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: fixed;
    animation: clouds 1.8s 1.8s  infinite ease-in-out alternate;
    
}

@keyframes clouds{
    from{background-position: 0%, 0%;}
    to{background-position: 10%, 10% ;}
}

.collab {
  animation: collab 2s infinite ease-in-out alternate;
}

@keyframes collab {
  from {transform: rotateX(0deg);}
  to {transform: rotateX(15deg);}
  
  
}

.skill {
    height: 120px;
    width: 200px;
}

ul {
    list-style: none;
    text-align: left;
}

 .arrows {
    position: relative;
    animation: arrows 1s 1.5s infinite ease-out alternate;
} 

.arrows:hover{
    animation-play-state: paused;
 }

 @keyframes arrows {
0% {
    bottom:0px;
}
100%{
    bottom: 40px;
}
} 

.icon {
  font-family: Passion One;
  letter-spacing: 1px;
  align-items: center;
  font-size: larger;
}

.fab {
color: white;
font-size: xx-large;
height: 100%;
}

.icon:hover {
    color: salmon;
}

.hand {
    height: 100%;
    width: 100%;
}

.card-img-top {
    max-height: 300px;
}

.wrapper {  
    border-radius: 20px;  
    overflow: hidden;  
    transition: all 0.3s ease-in-out;  
    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.49);      
}  
.wrapper:hover .image-top {  
    overflow: hidden;  
    transition: all 0.3s linear;  
    box-shadow: inset -6px -1px 32px 0px rgba(0, 0, 0, 0.75);  
}  
.wrapper:hover .card-body {  
    transform: translate(0%, -50%);  
    transition: all 0.8s ease-in;  
    background-color: salmon;  
    opacity: 80%;
    font-family: 'Passion One', cursive;
}  

.card {  
    position: relative;  
    width: 100%;  
    height: 100%;  
    z-index: 1;  
}  
.card-body {  
    width: 100%;  
    position: absolute;  
    z-index: 20;  
    display: nonee;  
    top: 50%;  
    background-color: rgba(110, 122, 92, 0);  
    padding: 100px 20px;  
    color: #fff;  
    transform: translate(100%, -50%);  
}   

.collab {
    height: 550px;
    position: inherit;
   
} 